export(boxcoxnc,boxcoxfr,confInt)
S3method(confInt,default)
S3method(confInt,boxcoxnc)
S3method(confInt,boxcoxfr)
importFrom("MASS", boxcox)
importFrom("nortest", ad.test, cvm.test, lillie.test, pearson.test, sf.test)
importFrom("tseries", jarque.bera.test)
importFrom("graphics", abline, par, plot, title, hist, lines)
importFrom("stats", bartlett.test, gaussian, glm, rnorm, shapiro.test, density, qqline, qqnorm, qt, sd, dnorm)
importFrom("ggplot2", ggplot, aes, geom_point, geom_errorbar, ggtitle, ylab, xlab)
importFrom("psych", geometric.mean)
